extends layout
block content 
  if(authenticated)
    script(src='javascripts/main.js')
    div(id='header')
      div(id='nav')
        ul
          li: p(id='logo')
            span(class='glyphicon glyphicon-leaf')
            span &nbsp;Blog 
          li: form(method='POST',action='#',id='nav-form')
                div(class='form-group')
                  input(type='text',name='search',class='form-control',placeholder='请输入查找文章或用户...')
                button(type='submit',class='form-control',id='nav-submit')
                  span(class='glyphicon glyphicon-search')
          li(id='home-page'): a(href='/') 主页
          li: a(href='/profile') 个人页面
          li: a(href='#',id='generate-article') 发布文章   
          li(id='profile',my-name=me.name.full)
            p #{me.name.full} &nbsp;&nbsp;
              a(href="/logout",id='logout')
                span(class='glyphicon glyphicon-off') 
                span &nbsp;登出
    div(id='post-blog')
      div(id='mask')
      div(id='blog-form')
        div(id = 'blog-form-header')
          p 编辑文章
          a(href='#',id='blog-form-close')
            span(style='display:none') 关闭
            span(class='glyphicon glyphicon-remove-sign')
        div(id='blog-form-body')
          form(method='POST',action='/post')
            input(type='hidden',name='author',value=me.name.full)
            div(class='form-group')
              input(type='text',name='title',class='form-control',placeholder='文章标题')
            div(class='form-group',id='editparent')
              div(id='editControls',class='span9',style='padding:5px')
                div(class='btn-group')
                  a(class='btn',data-role='undo' href='#')
                    i(class='icon-undo')
                  a(class='btn',data-role='redo' href='#')
                    i(class='icon-repeat')
                div(class='btn-group')
                  a(class='btn',data-role='bold',href='#')
                    b Bold
                  a(class='btn',data-role='italic',href='#')
                    em Italic
                  a(class='btn',data-role='underline',href='#')
                    b U
                  a(class='btn',data-role='strikeThrough',href='#')
                    strike abc
                div(class='btn-group')
                  a(class='btn',data-role='justifyLeft',href='#')
                    i(class='icon-align-left')
                  a(class='btn',data-role='justifyCenter',href='#')
                    i(class='icon-align-center')
                  a(class='btn',data-role='justifyRight',href='#')
                    i(class='icon-align-right')
                  a(class='btn',data-role='justifyFull',href='#')
                    i(class='icon-align-justify')
                div(class='btn-group')
                  a(class='btn',data-role='indent',href='#')
                    i(class='icon-indent-right')
                  a(class='btn',data-role='outdent',href='#')
                    i(class='icon-indent-left')
                div(class='btn-group')
                  a(class='btn',data-role='insertUnorderedList',href='#')
                    i(class='icon-list-ul')
                  a(class='btn',data-role='inserOrderedList',href='#')
                    i(class='icon-list-ol')
                div(class='btn-group')
                  a(class='btn',data-role='h1',href='#') h
                    sub 1
                  a(class='btn',data-role='h2',href='#') h
                    sub 2
                  a(class='btn',data-role='p',href='#') p
                div(class='btn-group')
                  a(class='btn',data-role='subscript',href='#')
                    i(class='icon-subscript')
                  a(class='btn',data-role='superscript',href='#')
                    i(class='icon-superscript')  
              div(id='editor',class='span9',contenteditable)
            input(type='hidden',name='content',id='hidden-body')
            div(class='form-group')
              label(class='control-label') 标签:
                span(id='label-explain') &nbsp;&nbsp;&nbsp;&nbsp;标签内容尽量与文章内容相关,这样更容易被搜索到,并且使用"空格"隔开
              input(type='text',name='tags',class='form-control',placeholder='填写标签用"空格"隔开')
            div(class='form-group')
              label(for='hidden') 匿名发布:&nbsp;
              input(type='checkBox',name='hidden',id='hidden')
            button(type='submit',class='btn btn-primary') 发布
    div(id='blog-body')
      div(id='body-left') 
        p
          span(class='glyphicon glyphicon-list-alt')
          strong &nbsp;最新文章
        hr
        ul
          each blog in blogs
            li(special_id=blog._id,class='single-blog')
              div(class='vote',blog-id=blog._id,user-name=me.name.full)
                button(class='up',title='感谢作者',data-role='up')
                  span(class='glyphicon glyphicon-menu-up')
                  p #{blog.voter.length}
                button(class='down',title='取消感谢',data-role='down')
                  span(class='glyphicon glyphicon-menu-down')
              p(class='tags')
                each tag in blog.tags
                  a(href='javascript:;',role='tag',tag-name=tag) #{tag}&nbsp;
                    span(class='glyphicon glyphicon-remove hidden')
              div(class='tag-modify hidden')
                input(class='form-control')
                a(href='javascript:;',class='tag-modify-add'): span(class='glyphicon glyphicon-plus-sign')
              a(href='javascript:;',role='modify',class='tag-modify-ct') &nbsp;
                span(class='glyphicon glyphicon-pencil') 修改  
              div(class = 'text-warning text-center hidden',role='tag-error')
                span(class='glyphicon glyphicon-exclamation-sign',style='display:inline-block') &nbsp;
                p(style='display:inline-block') 
              p(class='title',style='display:block') #{blog.title} &nbsp;
                a(href='javascript:;',role='modify'): span(class='glyphicon glyphicon-pencil') 修改&nbsp;
              div(class='title-modify',style='display:none')
                div(class='cancel-modify')
                  a 取消
                textarea(class='title-modify-content textarea') #{blog.title}
                button(class='btn btn-primary') 保存
              if (blog.voter.length == 0)
                p(class='voter') 还没有人赞同
              else if (blog.voter.length == 1)
                p(class='voter') #{blog.voter[0]} 赞同
              else if (blog.voter.length == 2)
                p(class='voter') #{blog.voter[0]},#{blog.voter[1]} 两人赞同
              else
                p(class='voter') #{blog.voter[0]},#{blog.voter[1]},#{blog.voter[2]} 等人赞同
              p(class='content') !{blog.content}
              p(class='footer')
                if (blog.hidden)
                  span Blog用户 更新于:&nbsp;
                else 
                  span #{blog.author} 更新于:&nbsp;
                if (moment().format('YYYY-MM-DD') === moment(blog.date.updateAt).format('YYYY-MM-DD'))
                  span #{moment(blog.date.updateAt).format('HH:mm:ss')}&nbsp;&nbsp;
                else
                  span #{moment(blog.date.updateAt).format('YYYY-MM-DD')}&nbsp;&nbsp;
                a(href='javascript:void(0)' class='show-comments')
                  span(class='glyphicon glyphicon-edit')
                  span(class='comments-count',style='display:inline-block')  &nbsp;#{blog.comments.length}条评论
                  span(class='hidden-comments',style='display:none')  收起评论
                a(href='javascript:;',role='modify') &nbsp;
                  span(class='glyphicon glyphicon-pencil') 文章修改
              div(class='get-comments',style='display:none')
                span(class='arrow')
                ul(class='comments-list')
                  each comment in blog.comments
                    li
                      p(class='comment-header',comment-author=comment.hidden? 'Blog用户': comment.author)
                        if (comment.reply === '')
                          if (comment.hidden)
                            span Blog用户 回复于:&nbsp;
                          else 
                            span #{comment.author} 回复于:&nbsp;
                        else
                          if (comment.hidden)
                            span Blog用户 回复 #{comment.reply}:&nbsp;
                          else 
                            span #{comment.author} 回复 #{comment.reply}:&nbsp;

                        if (moment().format('YYYY-MM-DD') === moment(comment.date).format('YYYY-MM-DD'))
                          span #{moment(comment.date).format('HH:mm:ss')} &nbsp;
                          a(href='javascript:;',role='reply'): span(class='glyphicon glyphicon-share-alt reply') 回复&nbsp;
                          if (comment.author == me.name.full)
                            a(href='javascript:;',role='delate',comment-id=comment._id): span(class='glyphicon glyphicon-trash delate') 删除
                        else
                          span #{moment(comment.date).format('YYYY-MM-DD')} &nbsp;
                          a(href='javascript:;',role='reply'): span(class='glyphicon glyphicon-share-alt reply' ) 回复&nbsp;
                          if (comment.author == me.name.full)
                            a(href='javascript:;',role='delate',comment-id=comment._id): span(class='glyphicon glyphicon-trash delate') 删除
                      p(class='comment-body')
                        span #{comment.comment}
                      hr
                div(contenteditable=true,aria-label='写下你的评论...',class='textarea write-comment',reply-to='')
                input(type='hidden',name='author',value=me.name.full,class='comment-author')
                input(type='hidden',value=blog._id,class='blogId')
                div(class='comment-wrapper',style='display:none')
                  div(class='form-group')
                    label 匿名发表: &nbsp;
                    input(type='checkBox',name='hidden',class='comment-hidden')
                  a(href='javascript:void(0)',class='close-comment') 取消
                  button(class='btn btn-primary',class='post-comment') 发表评论
              hr
      div(id='body-right')
    script(src="javascripts/jquery.min.js")
    script(src="javascripts/bootstrap.min.js")
    script(src='javascripts/html_editor.js')
  else
    script(src='./javascripts/login.js')
    div(id='top-header')
      div(id='top-header-inner')
        div(class='top-left')
          h1 
            span(class='glyphicon glyphicon-leaf')
            span &nbsp;Blog 
          p 欢迎您进入社区
        div(class='top-right')
          div(id='form-header')
            p(id='header-text') 登陆Blog
            a(href='#signup',id='form-change') 
              span(id='a-text') 注册&nbsp;&nbsp;
              span(class='glyphicon glyphicon-arrow-right')
            div(class='clear')
          form(method='POST', action='/login',id='login')
            if(loginEmail)
              p 
                span(class='glyphicon glyphicon-leaf')
                span &nbsp;&nbsp;欢迎加入Blog，请登录 ...
            div(class='form-group')
              input(type='email',name='email',placeholder='输入邮箱地址',class='form-control',value=loginEmail)
            div(class='form-group')
              input(type='password',name='password',placeholder='输入密码',class='form-control')
            input(type='submit',class='form-control',value='登陆Blog')
          form(method='POST', action='/signup',id='signup')
            div(class='form-group')
              input(type='text',name='name.first',placeholder='姓',class='form-control inline left')
              input(type='text',name='name.last',placeholder='名',class='form-control inline right')
            div(class='form-group')
              input(type='email',name='email',placeholder='输入邮箱地址',class='form-control')
            div(class='form-group')
              input(type='password',name='password',placeholder='输入密码',class='form-control')
            input(type='submit',class='form-control',value='注册Blog')


